.section__contact {
  /* background-image: url("../../assets/04.png"); */
  background-image: linear-gradient(#f3d69e, #ec6d67);
  height: 100vh;
  padding-top: 1.2rem;
}
.section__contact > h2,
.section__contact > h5 {
  color: #fcf9c6;
}
.container__contact {
  display: grid;
  grid-template-columns: 45% 50%;
  gap: 5%;
}
.contact__items {
  width: max-content;
  padding: 1rem;
  border: 1px solid;
  border-radius: 1.2rem;
}
.contact__item {
  padding-bottom: 1.2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}
input,
textarea {
  border: 1px solid;
  border-radius: 0.7rem;
  padding: 0.5rem;
}
/*---------------*/
/*smartphone*/
/*---------------*/
@media screen and (max-width: 600px) {
  form {
    display: none;
  }
}
